{% extends "parent.njk" %}

{% block content %}
<div class="row">
  <ul>
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>
  <form method="POST">
    {{ csrfField }}
    <input name="name" value="{{ recipe.name }}"/>
    <textarea name="description">{{ recipe.description }}</textarea>
    <select name="category_id">
      {% for category in categories %}
      <option {{'selected' if recipe.category_id == category.id}} value="{{ category.id }}">{{ category.name }}</option>
      {% endfor %}
    </select>
    <input type="submit" value="Mentés"/>
  </form>
</div>
{% endblock %}