{% extends "parent.njk" %}

{% block content %}
<div class="row">
  {% for category in categories %}
  <div class="col-md-4 col-sm-6 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        {{ category.name }}
        <span class="label label-warning pull-right">Warning</span>
      </div>
      <ul class="list-group">
        {% for recipe in category.recipes %}
        <li class="list-group-item">
          <a href="/recipe/{{ recipe.id }}">{{ recipe.name }}</a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  {% endfor %}

</div>
{% endblock %}
