{% extends "parent.njk" %}

{% block content %}

  <ul>
    {% for error in old('errors') %}
      <li>{{ error.message }}</li>
    {% endfor %}
  </ul>
<form class="form-horizontal" method="POST">
    {{ csrfField }}
  <fieldset>
    <legend>Regisztráció</legend>
    <div class="form-group">
      <label for="username" class="col-lg-2 control-label">Felhasználónév</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputUsername" name="username" value="{{ old('username') }}" placeholder="Felhasználónév">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" name="email" value="{{ old('email') }}" placeholder="Email">
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Jelszó</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" name="password" placeholder="Jelszó">
    
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword2" class="col-lg-2 control-label">Jelszó megerősítése</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" name="password2" id="inputPassword2" placeholder="Jelszó megerősítése">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary">Regisztrálok!</button>
      </div>
    </div>
  </fieldset>
</form>
{% endblock %}